*{
    margin:0;
    padding:0;
    text-align: center;
}
#head{
    height: 5rem;
    line-height: 5rem;
    background-color: #081b31;
    color:aliceblue;
    font-size: 1.5rem;
}
.choice{
    height: 165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 50%;
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}
#User-score,#Computer-score{
    font-size:4rem;
}
.msg-container{
    margin-top: 7rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg,#new-game{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(83, 1, 42);
    color:white;
    padding:1rem;
    display: inline;
    border-radius: 1rem;
    margin-left: 1rem;
}
#new-game:hover{
    opacity: 60%;
    cursor: pointer;
}